html { 
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
  
.rapper {
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.rapper2 {
height: 100%;
width: 100%;
background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.menu {
 
}

.fake {
  height: 10px;
}







