html { 
  
}

body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.boxed {
	border: 2px solid black;
	width: 40%;
	height: 45%;
	background-color: 
}
.menu {
  

}

.wrapper {
  
  }

#rapper {
    background-color: blue;
    background-size: contain;
    width: 100%;
    height: 100%;
    
}


.homepic {
  background-image: url('http://sport-squad.com/images/SSF1001_topview.jpg');
  background-size: contain;
}

.img {

    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}
}






