html { 
  background: url(http://sport-squad.com/images/SSF1001_topview.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.boxed {
	border: 2px solid black;
	width: 40%;
	height: 45%;
	background-color: 
}
.menu {
 float: right;

}

.wrapper {
  
  }

.img {
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}
}






